// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: 'Bebas Neue';
    src: font-url('bebasneuewebfont-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('bebasneuewebfont-webfont.woff') format('woff'),
         font-url('bebasneuewebfont-webfont.ttf')  format('truetype'),
         font-url('bebasneuewebfont-webfont.svg#svgBebasNeue') format('svg');
}

body {
  font-family: "Tahoma";
  color: #000;
}

li {
  list-style-type: none;
}

.navbar {
  background-color: green;
  font-family: "Bebas Neue";
  color: #FFFFFF;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a {
    color: #fff;
  }

#logo {
  font-size: 60px;
  padding: 0;
  margin: 30px 30px 0 0;
}

ul li {
  .options {
    font-size: 23px;
    padding: 0;
    margin-top: 30px;
  }
  .options2 {
    font-size: 23px;
    padding: 0;
    margin: 30px 55px 0 30px;
  }
      a:hover {
        background-color: #ededed;
      }
    }

.jumbotron {
  background-color: #ededed;
  h1 {
    margin: -30px 0;
  }
}

.index {
  margin: -40px 0;
}

#welcome {
  margin-left: -45px;
  margin-right: -45px;
  padding-bottom: 30px;
  font-size: 26.5px;
}

#rowes {
  margin: 0 -50px 0 -50px;
}

#search {
  border-right: 2px solid;
  border-color: #fff;
  margin-top: 15px;
}

#search2 {
  margin-top: 15px;
}

.select {
  border-radius: 3px;
  padding: 5px 0 7px;
  background-color: #fff !important;
}

h4 {
  margin-top: 30px;
}

.col-md-8 ul li {
  font-size: 15px;
  margin-left: -20px;
}

#local {
  background-color: #f7f7f7;
  border: 2px solid black;
  border-right-style: dashed;
  border-left-style: dashed;
  border-radius: 15px;
  border-color: #fff;
  padding: 20px;
  margin: 30px -20px 10px -20px;
}

#name {
  font-size: 18px;
  margin-bottom: 15px;
  color: #66661e;
}

footer {
  text-align: center;
  padding-top: 10px;
  margin-top: 60px;
  margin-bottom: -35px;
  border-top: 1px solid;
  border-color: #fff;
  ul li {
    list-style-type: none
  }
}

.return {
  text-align: center;
  padding-top: 30px;
}

.return a:link,
.return a:visited {
    color: #585858;
    text-decoration: underline;
}

.return a:hover {
  color: #939393;
}

.form {
  background-color: #f7f7f7;
  border: solid black 2px;
  border-color: white;
  padding-bottom: 20px;
  border-radius: 4px;
  li {
    margin-top: 15px;
    margin-left: -30px;
    color: #000 !important;
    font-size: 15px;
  }
}

table {
  margin-top: 40px;
  background-color: #f7f7f7;
}

td, th {
  padding-left: 5px;
  padding-right: 5px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

#contact {
  font-size: 16px;
  margin-top: 5px;
  text-indent: 28px;
}

#contact:last-child {
  margin-top: 55px;
}

@media screen and (max-width: 980px) {

  body {
    background-color: #ebebeb;
  }

  .navbar {
    padding: 18px 0;
  }

  #logo {
    font-size: 80px;
  }

  ul li {

  .options {
    font-size: 35px;
  }
  .options2 {
    font-size: 35px;
  }
}

  .navbar {
    width: 105%;
    margin-left: -20px;
  }


    .container {
        width: 100%;
        text-align: center;
    }
    #welcome {
      font-size: 59px;
    }
    #rowes {
      font-size: 38px;

    }
    #search {
      border-style: none;
      margin-left: -10px;
      margin-right: -10px;
      padding: 25px 20px 25px 20px;
    p {
      font-size: 47px;
      }
    }

    #search2 {

      margin-left: -10px;
      margin-right: -10px;
      padding: 0 20px 0 20px;

    p {
      font-size: 47px;
      margin-top: 30px;
    }
  }

   #rowes .btn {
    padding: 21px 32px 21px 32px;
    font-size: 39px;
    margin-bottom: 8px;
    margin-left: 10px;
  }

  #name {
    font-size: 32px;
  }

  #jovem {
    font-size: 25px;
    margin: 0 0px 0 -30px;
  }

  footer {
    font-size: 20px;
  }

  h3 {
    font-size: 39px;
    padding-bottom: 30px;
  }

  h4 {
    font-size: 28px;
  }

  .return {
    font-size: 26px;
  }

  .form {
    li {
      margin-left: -14px;
      font-size: 30px;
      text-align: left;
    }
  }

  #contact {
    font-size: 39px;
    text-indent: 55px;
    margin-bottom: 20px;
  }

  #contact:last-child {
    text-indent: 28px;
    margin-bottom: default;
  }

  }
