<div class="center jumbotron">
  <div class="index">
    <p id="welcome">Bem-vindo ao Veg Places Curitiba e região! Este site conta, até o momento, com <u><%= places_count %></u>
      estabelecimentos vegetarianos e veganos (ou com opções veganas) e <u><%= professionals_count %></u> profissional veg cadastrados.</p>
    <div class="row" id="rowes">

        <%= render 'form_tags' %>

    </div>
  </div>
</div>
