<div class="center jumbotron">
  <div class="index">
    <div class="row" id="rowes">

        <%= render 'form_tags' %>

    </div>

    <h4><%= search_count %></h4>

    <%= render 'result' %>

  </div>
</div>
