<div class="center jumbotron">
  <div class="index">
    <p id="welcome">Bem-vindo ao Veg Places Curitiba e região! Este site conta, até o momento, com <u><%= places_count %></u>
      estabelecimentos vegetarianos e veganos (ou com opções veganas) cadastrados.</p>
    <div class="row" id="rowes">

        <%= render 'form_tags' %>

    </div>

    <h4><%= search_count %></h4>

    <%= render 'result' %>

  </div>
</div>
